circle {
        cursor: pointer;
}

.line_div {
        width: 16em;
        margin: 4px;
        padding: 4px;
        font-weight: bold;
}

.line_disabled {
        text-decoration: line-through;
}

.line_div.line_enabled:hover {
        text-decoration: underline
}

.line_div.active {
        border: solid 3px black;
}

.line_bakerloo {
        background-color:  #ae6118;
        color: #ffffff;
}

.line_central {
        background-color: #ef1f1f;
        color: #ffffff;
}

.line_circle {
        background-color: #f8d42d;
        color: #113892
}

.line_district {
        background-color: #007229;
        color: #ffffff;
}

.line_hammersmith_and_city {
        background-color: #e899a8;
        color: #113b92;
}

.line_jubilee {
        background-color: #686e72;
        color: #ffffff;
}

.line_metropolitan {
        background-color: #893267;
        color: #ffffff;
}

.line_northern {
        background-color: #000000;
        color: #ffffff;
}

.line_piccadilly {
        background-color: #0450a1;
        color: #ffffff;
}

.line_victoria {
        background-color: #009fe0;
        color: #ffffff;
}

.line_waterloo_and_city {
        background-color: #70c3ce;
        color: #113b92;
}
